@font-face {
  font-family: "Verdana Bold";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Verdana Bold.ttf") format("TrueType");
}
@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Verdana.ttf") format("TrueType");
}
.flex-centering, footer, #campfire-wrapper, #rent-wrapper, #location-wrapper, #about-wrapper, #firstlook-wrapper, header div, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row, #sections-wrapper, header div nav ul, header div {
  display: flex;
  flex-direction: row;
}

.column, #campfire-wrapper, #rent-wrapper, #location-wrapper, #about-wrapper, #firstlook-wrapper {
  display: flex;
  flex-direction: column;
}

.opacity, #rent-wrapper, #about-wrapper, header {
  opacity: 0.95;
}

html {
  margin: 0 auto;
  position: relative; /* Fix for absolute positioning */
}

body {
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
  margin: 0 auto;
}
h1,
h2 {
  font-family: "Verdana";
  font-weight: bold;
}
h3,
h4 {
  font-family: "Verdana";
  font-weight: bold;
}
p {
  font-family: "Verdana";
  color: rgb(244, 244, 244);
}
a {
  color: inherit;
  text-decoration: none;
}

main {
  margin: auto;
}

button {
  background-color: rgb(51, 51, 51);
  color: rgb(244, 244, 244);
  font-size: 1.3rem;
  border: none;
  padding: 0.9rem;
  transition: all 0.2s ease;
}
@media (max-width: 1366px) {
  button {
    font-size: 1.1rem;
    padding: 0.8rem;
  }
}
@media (max-width: 800px) {
  button {
    font-size: 1.3rem;
    padding: 0.9rem;
  }
}

header {
  background-color: rgb(51, 51, 51);
  color: rgb(244, 244, 244);
  height: 30px;
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
}
header div {
  justify-content: space-between;
  width: 75%;
}
header div a {
  padding: 0.5rem;
}
header div h6 {
  font-size: 1.3rem;
  font-family: "Verdana";
  margin: 0;
}
header div nav ul li {
  list-style: none;
  margin-left: 1rem;
  font-family: "Verdana";
  padding: 0.5rem;
  transition: all 0.2s ease;
}
header div nav ul li:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(241, 126, 12);
  padding: 0.5rem;
}
@media (max-width: 800px) {
  header {
    height: 12vh;
    position: relative;
    text-align: center;
    padding: 0;
  }
  header div {
    flex-direction: column;
    width: 100%;
  }
  header div a {
    margin-bottom: 0.5rem;
  }
  header div h6 {
    font-size: 1.7rem;
  }
  header div nav {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  header div nav ul {
    display: none;
  }
  header div nav ul li {
    margin-left: 0;
    padding: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
  }
}

.dropdown-wrappher {
  display: none;
}
@media (max-width: 800px) {
  .dropdown-wrappher {
    display: flex;
    text-align: end;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease;
  }
  .dropdown-wrappher summary {
    list-style-type: none;
    cursor: pointer;
    cursor: pointer;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}

.dropdown-nav {
  display: none;
}
@media (max-width: 800px) {
  .dropdown-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(51, 51, 51);
  }
}

body::before {
  background-image: url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-image: no-repeat;
  background-image: center;
  background-size: cover;
  background-position: center;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 100px black;
}

#firstlook-wrapper {
  width: 75%;
  height: 100vh;
  margin: auto;
}
#firstlook-wrapper div {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(207, 207, 207, 0.1);
  background-image: radial-gradient(#1f4d80 20%, transparent 66%);
  background-size: 2px 2px;
  z-index: -1;
}
#firstlook-wrapper h3 {
  font-size: 5rem;
  color: rgb(244, 244, 244);
  text-align: center;
  margin: 0 auto;
}
#firstlook-wrapper h3 span {
  color: rgb(241, 126, 12);
}
#firstlook-wrapper p {
  font-size: 1.7rem;
  text-align: center;
}
#firstlook-wrapper button:hover {
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
}
@media (max-width: 800px) {
  #firstlook-wrapper {
    width: 75%;
    height: 88vh;
    padding: 0;
  }
  #firstlook-wrapper h3 {
    font-size: 3.5rem;
  }
  #firstlook-wrapper p {
    font-size: 1.3rem;
  }
}

#about-wrapper {
  background-color: rgb(51, 51, 51);
  color: rgb(244, 244, 244);
  text-align: center;
  padding: 60px 0;
}
#about-wrapper h3 {
  font-size: 1.7rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
#about-wrapper h3 span {
  color: rgb(241, 126, 12);
}
#about-wrapper p {
  font-size: 1.3rem;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
#about-wrapper button {
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
  margin: 0 auto;
}
#about-wrapper button:hover {
  background-color: rgb(241, 126, 12);
  color: rgb(244, 244, 244);
}
@media (max-width: 800px) {
  #about-wrapper p {
    font-size: 1.1rem;
  }
}

#sections-wrapper section {
  width: 33.3333333333%;
}
@media (max-width: 800px) {
  #sections-wrapper {
    flex-direction: column;
  }
  #sections-wrapper section {
    width: 100%;
  }
}

#location-wrapper {
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
  text-align: center;
}
#location-wrapper div {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  transition: all ease 0.3s;
}
#location-wrapper div i {
  font-size: 4.2rem;
  padding-bottom: 1.7rem;
  transition: all ease 0.5s;
}
#location-wrapper div h3 {
  font-size: 1.7rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
@media (max-width: 1366px) {
  #location-wrapper div h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 800px) {
  #location-wrapper div h3 {
    font-size: 1.7rem;
  }
}
#location-wrapper div p {
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
#location-wrapper div:hover i {
  color: red;
  -webkit-animation: push 0.3s linear 1;
          animation: push 0.3s linear 1;
}

@-webkit-keyframes push {
  50% {
    transform: scale(0.8);
  }
}

@keyframes push {
  50% {
    transform: scale(0.8);
  }
}
#rent-wrapper {
  background-color: rgb(241, 126, 12);
  color: rgb(51, 51, 51);
  text-align: center;
}
#rent-wrapper div {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  transition: all ease 0.3s;
}
#rent-wrapper div i {
  font-size: 4.2rem;
  padding-bottom: 1.7rem;
  transition: all ease 0.5s;
}
#rent-wrapper div h3 {
  font-size: 1.7rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
@media (max-width: 1366px) {
  #rent-wrapper div h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 800px) {
  #rent-wrapper div h3 {
    font-size: 1.7rem;
  }
}
#rent-wrapper div p {
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
#rent-wrapper div:hover i {
  color: green;
  -webkit-animation: times 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
          animation: times 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
}

@-webkit-keyframes times {
  0% {
    transform: scale(1) translateX(0);
  }
  15% {
    transform: scale(1) translateX(5px);
  }
  30% {
    transform: scale(1) translateX(-5px);
  }
  45% {
    transform: scale(1) translateX(3px);
  }
  60% {
    transform: scale(1) translateX(-3px);
  }
  75% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes times {
  0% {
    transform: scale(1) translateX(0);
  }
  15% {
    transform: scale(1) translateX(5px);
  }
  30% {
    transform: scale(1) translateX(-5px);
  }
  45% {
    transform: scale(1) translateX(3px);
  }
  60% {
    transform: scale(1) translateX(-3px);
  }
  75% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
#campfire-wrapper {
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-attachment: fixed;
  background-size: inherit;
}
#campfire-wrapper div {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  transition: all ease-in 0.3s;
}
#campfire-wrapper div i {
  font-size: 4.2rem;
  padding-bottom: 1.7rem;
  transition: all ease 0.5s;
}
#campfire-wrapper div h3 {
  font-size: 1.7rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
@media (max-width: 1366px) {
  #campfire-wrapper div h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 800px) {
  #campfire-wrapper div h3 {
    font-size: 1.7rem;
  }
}
#campfire-wrapper div p {
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1.7rem;
  transition: all ease-in 0.7s;
}
#campfire-wrapper div:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
#campfire-wrapper div:hover p {
  color: white;
}

footer {
  background-color: rgb(51, 51, 51);
  color: rgb(244, 244, 244);
  height: 30px;
  width: 100%;
  padding: 1rem 0;
}
/*# sourceMappingURL=style.css.map */