// /*********************************************
// Setup
// **********************************************/

// color palette - these colors will be the color swatches of the Colors section

$color-1: rgb(51, 51, 51); // main black
$color-2: rgb(241, 126, 12); // orange
$color-3: rgb(244, 244, 244); // gray white
$color-4: rgb(68, 68, 68); // hover

// font size - these sizes used for font-size in any font here

$headsize-1: 5rem;
$headsize-2: 1.7rem;
$headsize-3: 1.3rem;
$headsize-4: 1.1rem;
$text-size-1: 0.9rem;
$text-size-2: 0.8rem;
$text-size-3: 0.7rem;
$text-size-4: 0.6rem;
// fonts

$primary-font: "Verdana";
$thirdly-font: "Roboto Condensed";
$fourthly-font: "Dancing Script";
$fifthly-font: "Sacramento";
$primary-jp-font: "Sawarabi Gothic", "sans-serif";

@font-face {
    font-family: "Verdana Bold";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Verdana Bold.ttf") format("TrueType");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Verdana.ttf") format("TrueType");
}

// responsive

$media_1920w: 1920px; //
$media_1366w: 1366px; //
$media_800w: 800px; //
$media_600w: 600px; //

@mixin media_1920_to_1366_w {
    @media (min-width: ($media_1920w)) {
        @content;
    }
}

@mixin media_1366_to_800_w {
    @media (max-width: ($media_1366w)) {
        @content;
    }
}

@mixin media_800_to_600_w {
    @media (max-width: ($media_800w)) {
        @content;
    }
}
@mixin media_600_to_bottom_w {
    @media (max-width: ($media_600w)) {
        @content;
    }
}


// extend

.flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.opacity{
    opacity: 0.95;
}

// /*********************************************
// General Styling
// **********************************************/

html {
    // max-width: $media_1366w;
    margin: 0 auto;
    position: relative; /* Fix for absolute positioning */
}

body {
    background-color: $color-3;
    color: $color-1;
    margin: 0 auto;
    @include media_1920_to_1366_w {
        // margin-left: $base_vw * 2;
        // margin-right: $base_vw * 2;
        // margin-top: 0;
        // margin-bottom: 0;
    }
    @include media_1366_to_800_w {
        // margin-left: 2vw;
        // margin-right: 2vw;
        // margin-top: 0;
        // margin-bottom: 0;
    }
}

h1,
h2 {
    font-family: $primary-font;
    font-weight: bold;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 4.2;
        // line-height: $base_vw * 5.2;
        // letter-spacing: ($base_vw/3);
    }
    @include media_1366_to_800_w {
        // font-size: 4.2vw;
        // line-height: 5.2vw;
        // letter-spacing: .3vw;
    }
    @include media_800_to_600_w {
        // font-size: 5.2vw;
        // line-height: 6.2vw;
        // letter-spacing: .6vw;
    }
}
h3,
h4 {
    font-family: $primary-font;
    font-weight: bold;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 3.4;
        // line-height: $base_vw * 4;
        // letter-spacing: ($base_vw/-10);
    }
    @include media_1366_to_800_w {
        // font-size: 3.4vw;
        // line-height: 4vw;
        // letter-spacing: -.1vw;
    }
}

p {
    font-family: $primary-font;
    color: $color-3;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 1.5;
        // letter-spacing: ($base_vw/10);
        // margin: 0;
    }
    @include media_1366_to_800_w {
        // font-size: 1.5vw;
        // letter-spacing: .1vw;
    }
    @include media_800_to_600_w {
        // font-size: 2vw;
        // letter-spacing: .2vw;
    }
    // @include media_under_667_w {
    //     font-size: 2.1vw;
    //     letter-spacing: .21vw;
    // };
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: auto;
}

// .sp_op {
//     display: none;
// }



button{
    background-color: $color-1;
    color: $color-3;
    font-size: $headsize-3;
    border: none;
    padding: $text-size-1;
    transition: all .2s ease;
    @include media_1366_to_800_w {
        font-size: $headsize-4;
        padding: $text-size-2;
        }
    @include media_800_to_600_w {
        font-size: $headsize-3;
        padding: $text-size-1;
    }
    
}

// /*********************************************
// Header
// **********************************************/

header{
    background-color: $color-1;
    color: $color-3;
    height: 30px;
    width: 100%;
    padding: 1rem 0;
    @extend .opacity;
    @extend .flex-centering;
    position: absolute;
    top: 0;
    left: 0;
    & div{
        @extend .flex-centering;
        @extend .row;
        justify-content: space-between;
        width: 75%;
        & a{
            padding: 0.5rem;
        }
        & h6{
            font-size: $headsize-3;
            font-family: $primary-font;
            margin: 0;
        }
        & nav ul{
            @extend .row;
            & li{
                list-style: none;
                margin-left: 1rem;
                font-family: $primary-font;
                padding: 0.5rem;
                transition: all .2s ease;
                &:hover{
                    background-color: $color-4;
                    color: $color-2;
                    padding: 0.5rem;
                }
            }
        }
    }
        @include media_800_to_600_w {
            height: 12vh;
            position: relative;
            text-align: center;
            padding: 0;
            & div{
                @extend .flex-centering;
                flex-direction: column;
                width: 100%;
                & a{
                    margin-bottom: 0.5rem;
                }
                & h6{
                    font-size: $headsize-2;
                }
                & nav{
                    width: 100%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
                & nav ul{
                    display: none;
                    & li{
                        margin-left: 0;
                        padding: 0.5rem;
                        margin: 0 1rem 0.5rem 1rem;
                        &:hover{
                        }
                    }
                }
            }
    }
}
.dropdown-wrappher{
    display: none;
    @include media_800_to_600_w {
        display: flex;
        text-align: end;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        transition: all .2s ease;
        & summary{
            list-style-type: none;
            cursor: pointer;
            cursor: pointer;
            text-align: center;
            padding-bottom: 0.5rem;
            }
    }
}

.dropdown-nav{
    display: none;
    @include media_800_to_600_w {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        background: $color-1;
    }
}

// /*********************************************
// First Look
// **********************************************/

body::before {
    background-image: url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-image:no-repeat;
    background-image:center;
    background-size: cover;
    background-position: center;
    content: "";    
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 100px black;
}
    

#firstlook-wrapper{
    @extend .flex-centering;
    @extend .column;
    width: 75%;
    height: 100vh;
    margin: auto;
    & div{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(207, 207, 207, 0.1);
        background-image: radial-gradient(#1f4d80 20%, transparent 66%);
        background-size: 2px 2px;
        z-index: -1;
    }
    & h3{
        font-size: $headsize-1;
        color: $color-3;
        text-align: center;
        margin: 0 auto;
        & span{
            color: $color-2;
        }
    }
    & p{
        font-size: $headsize-2;
        text-align: center;
    }
    & button{
        &:hover{
            background-color: $color-3;
            color: $color-1;
        }
    }
    @include media_800_to_600_w {
        width: 75%;
        height: 88vh;
        padding: 0;
        & div{
        }
        & h3{
            font-size: 3.5rem;
            & span{
            }
        }
        & p{
            font-size: $headsize-3;
        }
        & button{
            &:hover{
            }
        }        
    }
}

// /*********************************************
// About
// **********************************************/
#about-wrapper{
    background-color: $color-1;
    color: $color-3;
    text-align: center;
    padding: 60px 0;
    @extend .opacity;
    @extend .flex-centering;
    @extend .column;
    & h3{
        font-size: $headsize-2;
        margin: 0 auto;
        margin-bottom: $headsize-2;    
        & span{
            color: $color-2;
        }
    }
    & p{
        font-size: $headsize-3;
        width: 75%;
        margin: 0 auto;
        margin-bottom: $headsize-2;    
    }
    & button{
        background-color: $color-3;
        color: $color-1;
        margin: 0 auto;
        &:hover{
            background-color: $color-2;
            color: $color-3;
        }
    }
    @include media_800_to_600_w {
        & p{
            font-size: $headsize-4;
        }
        & button{
            &:hover{
            }
        }
    }
}
// /*********************************************
// Sections
// **********************************************/

#sections-wrapper{
    @extend .row;
    & section{
        width : calc(100% / 3) ;
    }
    @include media_800_to_600_w {
        flex-direction: column;
        & section{
            width : 100% ;
        }
    }
}

#location-wrapper{
    background-color: $color-3;
    color: $color-1;
    text-align: center;
    @extend .flex-centering;
    @extend .column;
    & div{
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease 0.3s;
        & i{
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3{
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2; 
            @include media_1366_to_800_w{
                    font-size: $headsize-3;
            }               
                        @include media_800_to_600_w{
                    font-size: $headsize-2;
            }               
        }
        & p{
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;    
        }
        &:hover i{
            color: red;
            animation: push 0.3s linear 1;
        }
    }
}

@keyframes push{
  50%  {transform: scale(0.8);}
}
  

#rent-wrapper{
    background-color: $color-2;
    color: $color-1;
    text-align: center;
    @extend .opacity;
    @extend .flex-centering;
    @extend .column;
    & div{
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease 0.3s;
        & i{
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3{
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2;    
            @include media_1366_to_800_w{
                font-size: $headsize-3;
        }               
        @include media_800_to_600_w{
            font-size: $headsize-2;
    }               


        }
        & p{
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;    
        }
        &:hover i{
            color: green;
            animation: times 1s cubic-bezier(.36,.07,.57,.99) infinite;
        }
    }
}
@keyframes times {
	0% {
		transform: scale(1.0) translateX(0);
	}
	15% {
		transform: scale(1.0) translateX(5px);
	}
	30% {
		transform: scale(1.0) translateX(-5px);
	}
	45% {
		transform: scale(1.0) translateX(3px);
	}
	60% {
		transform: scale(1.0) translateX(-3px);
	}
	75% {
		transform: scale(1.0) translateX(0);
	}
	100% {
		transform: scale(1.0) translateX(0);
	}
}

#campfire-wrapper{
    background-color: $color-3;
    color: $color-1;
    text-align: center;
    @extend .flex-centering;
    @extend .column;
    background-image:url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-attachment: fixed;
    background-size: inherit;
    & div{
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease-in 0.3s;
        & i{
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3{
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2;    
            @include media_1366_to_800_w{
                font-size: $headsize-3;
        }               
        @include media_800_to_600_w{
            font-size: $headsize-2;
    }               


        }
        & p{
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;    
            transition: all ease-in 0.7s;
        }
        &:hover{
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
        &:hover p{
            color: white;
        }

    }
}

// /*********************************************
// Footer
// **********************************************/


footer{
    background-color: $color-1;
    color: $color-3;
    height: 30px;
    width: 100%;
    padding: 1rem 0;
    @extend .flex-centering;
    & p{

    }
}



































// $base_vw:13.66px;
// $base_vh:7.68px;

// //res

// $lgpc_w: 1920px; //
// $lgpc_h: 1080px;  //
// $mdpc_w: 1366px; // kriterium
// $mdpc_h: 768px;  // kriterium
// $smpc_w: 800px; //
// $smpc_h: 600px;  //

// $extra_w1: 600px;
// $extra_w2: 667px;

// $ipadmini79_w: 768px;
// $ipadmini79_h: 1024px;

// $iphone8plus_w: 414px; //
// $iphone8plus_h: 736px; //
// $iphone8_w: 375px; //
// $iphone8_h: 667px; //
// $iphonese_w: 320px; //
// $iphonese_h: 568px; //

// @mixin media_k_w {
//   @media (min-width: ($mdpc_w)) {
//     @content;
//   }
// }

// @mixin media_k_h {
//   @media (min-height: ($mdpc_h)) {
//     @content;
//   }
// }

// @mixin media_under_1366_w {
//   @media (max-width: ($mdpc_w)) {
//     @content;
//   }
// }
// @mixin media_under_768_h {
//   @media (max-height: ($mdpc_h)) {
//     @content;
//   }
// }

// @mixin media_under_768_w {
//   @media (max-width: ($ipadmini79_w)) {
//     @content;
//   }
// }

// @mixin media_under_600_h {
//   @media (max-height: ($smpc_h)) {
//     @content;
//   }
// }

// @mixin media_under_414_w {
//   @media (max-width: ($iphone8plus_w)) {
//     @content;
//   }
// }

// @mixin media_under_568_h {
//   @media (max-height: ($iphonese_h)) {
//     @content;
//   }
// }

// @mixin media_under_414_h {
//   @media (max-height: ($iphone8plus_w)) {
//     @content;
//   }
// }

// @mixin media_under_375_h {
//   @media (max-height: ($iphone8_w)) {
//     @content;
//   }
// }

// @mixin media_under_600_w {
//   @media (max-width: ($extra_w1)) {
//     @content;
//   }
// }

// @mixin media_under_667_w {
//   @media (max-width: ($extra_w2)) {
//     @content;
//   }
// }

// @mixin media_under_736_h {
//   @media (max-height: ($iphone8plus_h)) {
//     @content;
//   }
// }

// html {
//   max-width: $mdpc_w;
//   margin: 0 auto;
//   background: $color-1; /* Fills the page */
//   position: relative; /* Fix for absolute positioning */
// }

// main{
//     margin: auto;
// }

// //

// body{
//     background-color:$color-1 ;
//     color: $color-2;
//     position: relative;
//       @include media_k_w {
//         margin-left: $base_vw * 2;
//         margin-right: $base_vw * 2;
//         margin-top: 0;
//         margin-bottom: 0;
//         };
//           @include media_under_1366_w {
//             margin-left: 2vw;
//             margin-right: 2vw;
//             margin-top: 0;
//             margin-bottom: 0;
//             };
// }

// body::-webkit-scrollbar {
//   display: none;
// }

// h1, h2{
//     font-family: "SpaceGrotesk-Bold", sans-serif;
//     font-weight: bold;
//       @include media_k_w {
//         font-size: $base_vw * 4.2;
//         line-height: $base_vw * 5.2;
//         letter-spacing: ($base_vw/3);
//         };
//         @include media_under_1366_w {
//             font-size: 4.2vw;
//             line-height: 5.2vw;
//             letter-spacing: .3vw;
//         };
//             @include media_under_768_w {
//                 font-size: 5.2vw;
//                 line-height: 6.2vw;
//                 letter-spacing: .6vw;
//             };
// }
// h3, h4{
//     font-family: roboto;
//     font-weight: lighter;
//     @include media_k_w {
//         font-size: $base_vw * 3.4;
//         line-height: $base_vw * 4;
//         letter-spacing: ($base_vw/-10);
//     };
//         @include media_under_1366_w {
//             font-size: 3.4vw;
//             line-height: 4vw;
//             letter-spacing: -.1vw;
//         };
// }

// p{
//     font-family: roboto;
//     @include media_k_w {
//         font-size: $base_vw * 1.5;
//         letter-spacing: ($base_vw/10);
//         margin: 0;
//     };
//         @include media_under_1366_w {
//             font-size: 1.5vw;
//             letter-spacing: .1vw;
//         };
//             @include media_under_768_w {
//                 font-size: 2vw;
//                 letter-spacing: .2vw;
//             };
//                 @include media_under_667_w {
//                     font-size: 2.1vw;
//                     letter-spacing: .21vw;
//                 };
// }

// .scroll-bar {
//     height: 1px;
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     right:0;
//     // background-color: $color-4;
//     @include media_k_w {
//         width: $base_vw * 2;
//     };
//         @include media_under_1366_w {
//             width: 2vw;
//         };
// }

// ::-moz-selection {
//     // background: $color-4;
// }

// ::selection {
//     // background: $color-4;
// }

// a{
//     color: inherit;
//     text-decoration:none;
// }

// .fadeInDown{
//       animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
// }

// .sp_op{
//     display: none;
// }

// /*********************************************
// fv
// **********************************************/

// #fv{
//     position: relative;
//     width: 100%;
//     @include media_k_h {
//         height: $base_vh * 92;
//         padding-top:$base_vh * 7.11458333;
//         padding-bottom:$base_vh * 3.55729167;
//     };
//         @include media_under_768_h {
//             height: $base_vh * 92;
//             padding-top: 7.11458333vh;
//             padding-bottom: 3.55729167vh;
//         };
//     @include media_under_768_w {
//         height: 50vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding-bottom: 7.11458333vh;
//             @include media_under_414_h {
//                 height: 100vh;
//                 align-items: baseline;
//         };
//     };
//         @include media_under_667_w {
//           @media (max-width: ($extra_w2)) {
//                 padding-top: 3.55729167vh;
//                 padding-bottom: 3.55729167vh;
//           }
//         }
//         @include media_under_600_w {
// /*                padding-bottom: 14,2291667vh; */
//         };
//             @include media_under_414_w {
//                 padding-top: 3.55729167vh;
//                 padding-bottom: 3.55729167vh;
//             };
// }

// .fvwrapper{
//     width: 100%;
//     overflow-x: hidden;
//     justify-content: space-evenly;
//     @extend .row;
//     @include media_k_h {
//         height: $base_vh * 86;
//     };
//         @include media_under_768_h {
//             height: 86vh;
//         };

//     @include media_under_768_w {
//         height: unset;
//         justify-content: auto;
//         align-items: center;
//     };
//         @include media_under_414_w {
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//         };

//     &__headlinebox{
//         width: 100%;
//         min-width: 56%;
//         height: unset;
//         text-align: left;
//         display: flex;
//         justify-content: space-between;
//         position: relative;
//         @extend .column;
//         @include media_k_w {
//             padding: 0 ($base_vw * 2) 0 ($base_vw * 4);
//         };
//             @include media_under_1366_w {
//                 padding: 0 2vw 0 4vw;
//             };
//                 @include media_under_768_w {
//                     justify-content: space-evenly;
//                     max-width: 56%;
//                     flex-direction: column-reverse;
//                 };
//                     @include media_under_414_w {
// 		                padding: 0;
//                         max-width: 92%;
//                     };

//         h1{
//             margin: 0;
//             }
//         p {
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//           }
//         & .line{
//             position: absolute;
//             width: 0;
//             background-color: $color-2;
//             top: unset;
//             right: 0;
//             animation: line1 4s 0s 1 normal;
//             animation-fill-mode: forwards;
//             animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
//             @include media_k_w {
//                 height: ($base_vw/10);
//                 margin-right: $base_vw * 10;
//             };
//                 @include media_under_1366_w {
//                     height: .1vw;
//                     margin-right: 10vw;
//                 };
//                     @include media_under_768_w {
//                         margin-right: 15vw;
//                     };
//                         @include media_under_414_w {
//                             margin-right: 28vw;
//                         };
//         }
//     }
//     &__txtbox{
//         width: 100%;
//         height: unset;
//         text-align: left;
//         justify-content: flex-end;
//         z-index: 2;
//         @extend .column;
//         @include media_k_w {
//             margin-right: $base_vw * 4;
//         };
//             @include media_under_1366_w {
//                 margin-right: 4vw;
//             };
//             @include media_under_768_w {
//                 margin-right: 0;
//             };
//                 @include media_under_414_w {
//                     max-width: 92%;
//                 };
//     }
// }

// @include media_k_w {
//     @keyframes line1 {
//         0%   { width: 0; }
//         100% { width: 314.18px; }
//     };
// }

// @include media_under_1366_w {
//     @keyframes line1 {
//       0%   { width: 0; }
//       100% { width: 23vw; }
//     };
// }

// @include media_under_768_w {
//     @keyframes line1 {
//       0%   { width: 0; }
//       100% { width: 7vw; }
//     };
// }
// @include media_under_414_w {
//     @keyframes line1 {
//       0%   { width: 0; }
//       100% { width: 23vw; }
//     };
// }

// /*********************************************
// about
// **********************************************/

// #about{
//     width: 100%;
//     @include media_k_h {
//         height: $base_vh * 92;
//         padding-bottom: $base_vh * 21.34375;
//     };
//         @include media_under_768_h {
//             height: 92vh;
//             padding-bottom: 10.671875vh;
//         };
//     @include media_under_768_w {
//         height: unset;
//         padding-bottom: 0;
//     };
//         @include media_under_414_h {
//             padding-bottom: 10.671875vh;
//     };

// }

// .abwrapper{
//     @extend .row;
//     width: 100%;
//     height: 100%;
//     background-image: url(../images/test3-a-min.jpg);
//     background-size: cover;
//     justify-content: flex-end;
//     align-items: auto;
//     @include media_k_w {
//         margin: ($base_vw * 2) 0;
//     };
//         @include media_under_1366_w {
//             margin: 2vw 0;
//         };
//             @include media_under_768_w {
//                 height: unset;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column-reverse;
//                 margin: auto;
//             };
//         @include media_under_375_h {
//             height: unset;
//             padding: 3.5572916666666665vh 0;
//         };

//     &__headlinebox{
//         width: 100%;
//         min-width: 56%;
//         height: 50%;
//         text-align: left;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//         @include media_k_w {
//             margin: ($base_vh * 3.5572916666666665) ($base_vw * 2) ($base_vh * 3.5572916666666665) ($base_vw * 2);
//             padding: ($base_vh * 3.5572916666666665) ($base_vw * 2) ($base_vh * 3.5572916666666665) ($base_vw * 2);
//         };
//             @include media_under_1366_w {
//                 margin:3.5572916666666665vh 2vw 3.5572916666666665vh 2vw;
//                 padding: 3.5572916666666665vh 2vw 3.5572916666666665vh 2vw;
//             };
//                 @include media_under_768_w {
//                     max-width: 96%;
//                     margin: 0 auto;
//                     height: unset;
//                     padding: 3.5572916666666665vh 2vw 0 2vw;
//                 };
//         h2{
//             /*max-width: 50%;*/
//             background-color: $color-1;
//             transition: all ease .8s;
//             @include media_k_w {
//                 padding-right: ($base_vw * 2);
//                 padding-left: ($base_vw * 2);
//             };
//             @include media_k_h {
//                 padding-top: ($base_vh * 3.5572916666666665);
//                 padding-bottom: ($base_vh * 3.5572916666666665);
//             };
//                 @include media_under_1366_w {
//                 padding-right: 2vw;
//                 padding-left: 2vw;
//                 };

//                     @include media_under_768_w {
//                         background-color: rgba( $color-1, .7);
//                         margin: 0 auto;
//                     };

//             @include media_under_768_h {
//             padding-top: 3.5572916666666665vh;
//             padding-bottom: 3.5572916666666665vh;
//             };
//             &:hover{
//                 background-color: rgba(0, 0, 0, 0.8);
//                 box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.16);
//                 filter: blur(0.2px);
//                 @include media_k_h {
//                 transform: translateY(-$base_vh * 3.5572916666666665);
//                 };
//                     @include media_under_768_h {
//                         transform: translateY(-3.5572916666666665vh);
//                     };
//             }
//         }
//     }
//     &__txtbox{
//         width: 100%;
//         max-width: 44%;
//         height: unset;
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-end;
//         @include media_k_w {
//             padding: ($base_vh * 3.5572916666666665) ($base_vw * 2) ($base_vh * 3.5572916666666665) ($base_vw * 2);
//         };
//             @include media_under_1366_w {
//                 padding: 3.5572916666666665vh 0 3.5572916666666665vh 2vw;
//             };
//                 @include media_under_768_w {
//                     transform: translate3d(0px, 0px, 0px);
//                     max-width: 96%;
//                     margin: 0 auto;
//                     padding: 3.5572916666666665vh 0;
//                 }

//         p{
//             margin:0;
//             color: $color-1;
//             background-color: #fff;
//             @include media_k_w {
//                 padding: ($base_vh * 3.5572916666666665) ($base_vw * 2) ($base_vh * 3.5572916666666665) ($base_vw * 2);
//             };
//                 @include media_under_1366_w {
//                     padding: 3.5572916666666665vh 2vw 3.5572916666666665vh 2vw;
//                 };
//                     @include media_under_768_w {
//                         background-color: rgba( #fff, .7);
//                     };
//         }
//     }
// }

// #annotation{
//     text-align: right;
//     @include media_k_w {
//         font-size:$base_vw * 1.1;
//         padding-right:$base_vw * 2;
//     };
//         @include media_under_1366_w {
//             font-size: 1.1vw;
//             padding-right: 2vw;
//         };
//             @include media_under_768_w {
//                 font-size: 2vw;
//             };
// }

// /*********************************************
// recent works
// **********************************************/

// #recentworks{
//     width: 100%;
//     height: 100%;
//     @include media_k_h {
//         padding-top: $base_vh * 10.671875;
//         padding-bottom: $base_vh * 10.671875;

//     };
//         @include media_under_768_h {
//             padding-top: 5.3359375vh;
//             padding-bottom: 5.3359375vh;
//         };
//             @include media_under_600_h {
//                 padding-top: 21.34375vh;
//                 padding-bottom:21.34375vh;
//             };
//                 @include media_under_568_h {
//                     padding-top: 10.671875vh;
//                     padding-bottom: 10.671875vh;
//                 };

// }

// .rwwrapper{
//     @extend .column;

//     @include media_k_w {
//         padding-left:$base_vw * 4;
//         padding-right: $base_vw * 4;
//     };
//         @include media_under_1366_w {
//             padding-left: 4vw;
//             padding-right: 4vw;
//         };
//     .thea{
//         border: solid $color-2 .2vw;
//         @include media_k_w {
//             padding-right: ($base_vw * 2);
//             padding-left: ($base_vw * 2);
//         };
//             @include media_under_1366_w {
//             padding-right: 2vw;
//             padding-left: 2vw;
//             };
//         @include media_k_h {
//             margin-bottom: $base_vh * 5;
//             padding-top: ($base_vh * 3.5572916666666665);
//             padding-bottom: ($base_vh * 3.5572916666666665);
//         };
//             @include media_under_768_h {
//                 margin-bottom: 2.5vh;
//                 padding-top: 1.77864584vh;
//                 padding-bottom: 1.77864584vh;            };
//     }
//     .abtxt{
//         position: absolute;
//     }
//     &__worksbox{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//         height: unset;
//         opacity: 0;
//         position: relative;
//         transition: all .5s ease;
//             &:hover{
//                 padding-top: 3%;
//                 padding-bottom: 3%;
//                 opacity: 1;
//             }
//             .rwtxtbox{
//                 color: rgba(0,0,0,0);
//         }
//     }
//     #bwbg{
//         background-image: url(../images/bw_fv.png);
//         background-size: cover;
//         background-position: center;
//     }
//     #atombg{
//         background-image: url(../images/atom_fv.png);
//         background-size: cover;
//         background-position: center;
//     }
//     h2{
//     text-align: center;
//     margin: 0 auto;
//         @include media_k_h {
//             margin-bottom: $base_vh * 6;
//         };
//         @include media_under_768_h {
//             margin-bottom: 6vh;
//         };
//             @include media_under_736_h {
//                 margin-top: 3vh;
//                 margin-bottom: 3vh;
//             };
//     }
//     h3{
//         margin: 0 auto;
//     }
//     p{
//         text-align: right;
//         margin: 0;
//             @include media_under_768_w {
//                 font-size: 2vw;
//             };
//     }
// }

// /*********************************************
// footer
// **********************************************/

// #outro{
//     background: #fff;
//     @include media_k_w {
//         padding-left:$base_vw * 4;
//         padding-right:$base_vw * 4;
//     };
//         @include media_under_1366_w {
//             padding-left: 4vw;
//             padding-right: 4vw;
//         };
// }

// .menu{
//     @extend .row;
//     height: unset;
//     justify-content: space-between;
//     align-items: center;
//     margin: 0 auto;
//     p{
//         margin-bottom: 0;
//         @include media_k_w {
//             padding-top: $base_vh * 7.114583333333333;
//         };
//     }
//     @include media_k_w {
//         width: $base_vw * 88;
//     };
//         @include media_under_1366_w {
//             width: 88vw;
//         };
//     @include media_k_h {
//             padding-top: $base_vh * .7648177083333334;
//     };
//         @include media_under_768_h {
//             padding-top: .7648177083333334vh;
//         };
// }

// .menu2{
//     @extend .row;
//     align-items: flex-end;
//     width: 100%;
//     height: unset;
//     @include media_k_h {
//         padding-bottom: $base_vh * 7.114583333333333;
//     };
//         @include media_under_768_h {
//             padding-bottom: 7.114583333333333vh;
//         };
//     &__md{
//         @extend .column;
//         height: unset;
//         justify-content: space-between;
//         align-items: flex-start;
//         list-style: none;
//         padding: 0;
//         margin: 0 auto;
//         @include media_k_w {
//             width:$base_vw * 88;
//         };
//             @include media_under_1366_w {
//                 width: 88vw;
//             };
//         li{
//             font-family:  "SpaceGrotesk-Regular", sans-serif;
//             @include media_k_w {
//                 font-size:$base_vw * 2.2;
//             };
//                 @include media_under_1366_w {
//                     font-size: 2.2vw;
//                 };
//                     @include media_under_768_w {
//                         font-size: 2.8vw;
//                     };
//         }
//         a{
//             transition:opacity .4s ease;
//         @include media_k_h {
//             padding-bottom: $base_vh * 1.42291666;
//         };
//             @include media_under_768_h {
//                 padding-bottom: 1.42291666vh;
//             };
//             &:hover{
//                 opacity: .5;
//             }
//         }
//         a:last-child{
//             padding-bottom: 0;
//         }
//     }
//     p{
//         margin: 0;
//         @include media_k_w {
//         font-size: $base_vw * 2.7;
//         };
//             @include media_under_1366_w {
//             font-size: 2.7vw;
//             };
//     }
// }

// footer{
//     @extend .column;
//     justify-content: space-between;
//     align-items: flex-start;
//     background-color: #fff;
//     color: $color-1;
//     width: 100%;
//     @include media_k_h {
//         height:$base_vh * 100;
//     };
//         @include media_under_768_h {
//             height: 100vh;
//         };
//     .pc_op{
//         @include media_under_768_w {
//             display: none;
//         };
//     }
//     .sp_op{
//         @include media_under_768_w {
//             display: flex;
//         };
//     }
//     #scarrow{
//         @include media_k_w {
//         font-size: $base_vw * 5;
//         };
//             @include media_under_1366_w {
//                 font-size: 5vw;
//             };
//         transition: opacity .4s ease;
//         &:hover{
//             opacity: 0.5;
//         }
//     }
//     h2{
//         margin: 0;
//         width: 100%;
//         text-align: center;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: baseline;
//         font-family: "SpaceGrotesk-Light", sans-serif;
//         font-weight: lighter;
//         @include media_k_w {
//             font-size:$base_vw * 17;
//         };
//             @include media_under_1366_w {
//                 font-size: 17vw;
//             };
//         #movingblock{
//             width: 1.8vw;
//             height: 1.8vw;
//             background-color: $color-1;
//             animation: blockspin 3.6s ease infinite;
//     }
//     p{
//         margin: 0;
//     }
//     }
// }

// @keyframes blockspin {
//   0% {
//     transform: rotate(0deg); }

//   40% {
//     transform: rotate(180deg);
//       filter: blur(0px) ;
//     }
//   50% {
//     transform: rotate(180deg);
//     border-radius: 50%;
//     filter: blur(.4px) ;
//   51%{
//       filter: blur(0px) ;
//     }
//     }
//   90% {
//     border-radius: 50%;
//     filter: blur(0px) ;
//     }
//   99%{
//     filter: blur(0px) ;
//     }
//   100% {
//     transform: rotate(360deg);
//     filter: blur(.4px) ;
//     }
// }
