// /*********************************************
// Setup
// **********************************************/

// color palette - these colors will be the color swatches of the Colors section

$color-1: rgb(51, 51, 51); // main black
$color-2: rgb(241, 126, 12); // orange
$color-3: rgb(244, 244, 244); // gray white
$color-4: rgb(68, 68, 68); // hover

// font size - these sizes used for font-size in any font here

$headsize-1: 5rem;
$headsize-2: 1.7rem;
$headsize-3: 1.3rem;
$headsize-4: 1.1rem;
$text-size-1: 0.9rem;
$text-size-2: 0.8rem;
$text-size-3: 0.7rem;
$text-size-4: 0.6rem;

// fonts

$primary-font: "Verdana";
// $thirdly-font: "Roboto Condensed";
// $fourthly-font: "Dancing Script";
// $fifthly-font: "Sacramento";
// $primary-jp-font: "Sawarabi Gothic", "sans-serif";

@font-face {
    font-family: "Verdana Bold";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Verdana Bold.ttf") format("TrueType");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Verdana.ttf") format("TrueType");
}

// responsive

$media_1920w: 1920px; //
$media_1366w: 1366px; //
$media_800w: 800px; //
$media_600w: 600px; //

@mixin media_1920_to_1366_w {
    @media (min-width: ($media_1920w)) {
        @content;
    }
}

@mixin media_1366_to_800_w {
    @media (max-width: ($media_1366w)) {
        @content;
    }
}

@mixin media_800_to_600_w {
    @media (max-width: ($media_800w)) {
        @content;
    }
}
@mixin media_600_to_bottom_w {
    @media (max-width: ($media_600w)) {
        @content;
    }
}

// extend

.flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.opacity {
    opacity: 0.95;
}

// /*********************************************
// General Styling
// **********************************************/

html {
    // max-width: $media_1366w;
    margin: 0 auto;
    position: relative; /* Fix for absolute positioning */
}

body {
    background-color: $color-3;
    color: $color-1;
    margin: 0 auto;
    @include media_1920_to_1366_w {
        // margin-left: $base_vw * 2;
        // margin-right: $base_vw * 2;
        // margin-top: 0;
        // margin-bottom: 0;
    }
    @include media_1366_to_800_w {
        // margin-left: 2vw;
        // margin-right: 2vw;
        // margin-top: 0;
        // margin-bottom: 0;
    }
}

h1,
h2 {
    font-family: $primary-font;
    font-weight: bold;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 4.2;
        // line-height: $base_vw * 5.2;
        // letter-spacing: ($base_vw/3);
    }
    @include media_1366_to_800_w {
        // font-size: 4.2vw;
        // line-height: 5.2vw;
        // letter-spacing: .3vw;
    }
    @include media_800_to_600_w {
        // font-size: 5.2vw;
        // line-height: 6.2vw;
        // letter-spacing: .6vw;
    }
}
h3,
h4 {
    font-family: $primary-font;
    font-weight: bold;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 3.4;
        // line-height: $base_vw * 4;
        // letter-spacing: ($base_vw/-10);
    }
    @include media_1366_to_800_w {
        // font-size: 3.4vw;
        // line-height: 4vw;
        // letter-spacing: -.1vw;
    }
}

p {
    font-family: $primary-font;
    color: $color-3;
    @include media_1920_to_1366_w {
        // font-size: $base_vw * 1.5;
        // letter-spacing: ($base_vw/10);
        // margin: 0;
    }
    @include media_1366_to_800_w {
        // font-size: 1.5vw;
        // letter-spacing: .1vw;
    }
    @include media_800_to_600_w {
        // font-size: 2vw;
        // letter-spacing: .2vw;
    }
    // @include media_under_667_w {
    //     font-size: 2.1vw;
    //     letter-spacing: .21vw;
    // };
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: auto;
}

// .sp_op {
//     display: none;
// }

button {
    background-color: $color-1;
    color: $color-3;
    font-size: $headsize-3;
    border: none;
    padding: $text-size-1;
    transition: all 0.2s ease;
    @include media_1366_to_800_w {
        font-size: $headsize-4;
        padding: $text-size-2;
    }
    @include media_800_to_600_w {
        font-size: $headsize-3;
        padding: $text-size-1;
    }
}

// /*********************************************
// Header
// **********************************************/

header {
    background-color: $color-1;
    color: $color-3;
    height: 30px;
    width: 100%;
    padding: 1rem 0;
    @extend .opacity;
    @extend .flex-centering;
    position: absolute;
    top: 0;
    left: 0;
    & div {
        @extend .flex-centering;
        @extend .row;
        justify-content: space-between;
        width: 75%;
        & a {
            padding: 0.5rem;
        }
        & h6 {
            font-size: $headsize-3;
            font-family: $primary-font;
            margin: 0;
        }
        & nav ul {
            @extend .row;
            & li {
                list-style: none;
                margin-left: 1rem;
                font-family: $primary-font;
                padding: 0.5rem;
                transition: all 0.2s ease;
                &:hover {
                    background-color: $color-4;
                    color: $color-2;
                    padding: 0.5rem;
                }
            }
        }
    }
    @include media_800_to_600_w {
        height: 12vh;
        position: relative;
        text-align: center;
        padding: 0;
        & div {
            @extend .flex-centering;
            flex-direction: column;
            width: 100%;
            & a {
                margin-bottom: 0.5rem;
            }
            & h6 {
                font-size: $headsize-2;
            }
            & nav {
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            & nav ul {
                display: none;
                & li {
                    margin-left: 0;
                    padding: 0.5rem;
                    margin: 0 1rem 0.5rem 1rem;
                    &:hover {
                    }
                }
            }
        }
    }
}
.dropdown-wrappher {
    display: none;
    @include media_800_to_600_w {
        display: flex;
        text-align: end;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease;
        & summary {
            list-style-type: none;
            cursor: pointer;
            cursor: pointer;
            text-align: center;
            padding-bottom: 0.5rem;
        }
    }
}

.dropdown-nav {
    display: none;
    @include media_800_to_600_w {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        background: $color-1;
    }
}

// /*********************************************
// First Look
// **********************************************/

body::before {
    background-image: url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-image: no-repeat;
    background-image: center;
    background-size: cover;
    background-position: center;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 100px black;
}

#firstlook-wrapper {
    @extend .flex-centering;
    @extend .column;
    width: 75%;
    height: 100vh;
    margin: auto;
    & div {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(207, 207, 207, 0.1);
        background-image: radial-gradient(#1f4d80 20%, transparent 66%);
        background-size: 2px 2px;
        z-index: -1;
    }
    & h3 {
        font-size: $headsize-1;
        color: $color-3;
        text-align: center;
        margin: 0 auto;
        & span {
            color: $color-2;
        }
    }
    & p {
        font-size: $headsize-2;
        text-align: center;
    }
    & button {
        &:hover {
            background-color: $color-3;
            color: $color-1;
        }
    }
    @include media_800_to_600_w {
        width: 75%;
        height: 88vh;
        padding: 0;
        & div {
        }
        & h3 {
            font-size: 3.5rem;
            & span {
            }
        }
        & p {
            font-size: $headsize-3;
        }
        & button {
            &:hover {
            }
        }
    }
}

// /*********************************************
// About
// **********************************************/
#about-wrapper {
    background-color: $color-1;
    color: $color-3;
    text-align: center;
    padding: 60px 0;
    @extend .opacity;
    @extend .flex-centering;
    @extend .column;
    & h3 {
        font-size: $headsize-2;
        margin: 0 auto;
        margin-bottom: $headsize-2;
        & span {
            color: $color-2;
        }
    }
    & p {
        font-size: $headsize-3;
        width: 75%;
        margin: 0 auto;
        margin-bottom: $headsize-2;
    }
    & button {
        background-color: $color-3;
        color: $color-1;
        margin: 0 auto;
        &:hover {
            background-color: $color-2;
            color: $color-3;
        }
    }
    @include media_800_to_600_w {
        & p {
            font-size: $headsize-4;
        }
        & button {
            &:hover {
            }
        }
    }
}
// /*********************************************
// Sections
// **********************************************/

#sections-wrapper {
    @extend .row;
    & section {
        width: calc(100% / 3);
    }
    @include media_800_to_600_w {
        flex-direction: column;
        & section {
            width: 100%;
        }
    }
}

#location-wrapper {
    background-color: $color-3;
    color: $color-1;
    text-align: center;
    @extend .flex-centering;
    @extend .column;
    & div {
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease 0.3s;
        & i {
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3 {
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2;
            @include media_1366_to_800_w {
                font-size: $headsize-3;
            }
            @include media_800_to_600_w {
                font-size: $headsize-2;
            }
        }
        & p {
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;
        }
        &:hover i {
            color: red;
            animation: push 0.3s linear 1;
        }
    }
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
}

#rent-wrapper {
    background-color: $color-2;
    color: $color-1;
    text-align: center;
    @extend .opacity;
    @extend .flex-centering;
    @extend .column;
    & div {
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease 0.3s;
        & i {
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3 {
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2;
            @include media_1366_to_800_w {
                font-size: $headsize-3;
            }
            @include media_800_to_600_w {
                font-size: $headsize-2;
            }
        }
        & p {
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;
        }
        &:hover i {
            color: green;
            animation: times 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
        }
    }
}
@keyframes times {
    0% {
        transform: scale(1) translateX(0);
    }
    15% {
        transform: scale(1) translateX(5px);
    }
    30% {
        transform: scale(1) translateX(-5px);
    }
    45% {
        transform: scale(1) translateX(3px);
    }
    60% {
        transform: scale(1) translateX(-3px);
    }
    75% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

#campfire-wrapper {
    background-color: $color-3;
    color: $color-1;
    text-align: center;
    @extend .flex-centering;
    @extend .column;
    background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-attachment: fixed;
    background-size: inherit;
    & div {
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 60px 0;
        transition: all ease-in 0.3s;
        & i {
            font-size: 4.2rem;
            padding-bottom: $headsize-2;
            transition: all ease 0.5s;
        }
        & h3 {
            font-size: $headsize-2;
            margin: 0 auto;
            margin-bottom: $headsize-2;
            @include media_1366_to_800_w {
                font-size: $headsize-3;
            }
            @include media_800_to_600_w {
                font-size: $headsize-2;
            }
        }
        & p {
            color: $color-1;
            font-size: $headsize-3;
            width: 75%;
            margin: 0 auto;
            margin-bottom: $headsize-2;
            transition: all ease-in 0.7s;
        }
        &:hover {
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
        &:hover p {
            color: white;
        }
    }
}

// /*********************************************
// Footer
// **********************************************/

footer {
    background-color: $color-1;
    color: $color-3;
    height: 30px;
    width: 100%;
    padding: 1rem 0;
    @extend .flex-centering;
    & p {
    }
}
